body {
    background-image: url('/gambar/whitespace-3435353_1280.jpg');
}


.container h5 {
    color: #fafafa;
}

.container label {
    color: #90caf9;

}

.custom-card {
    border-bottom: 4px solid #2979ff;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgba(255, 255, 255, .3);
    text-transform: uppercase;
    width: 50%;
}

.container form input {
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: black;
    font-size: 20px;
}

input[type="text"]:focus {
    background-color: transparent;
    color: white;
}

input[type="email"],
input[type="password"] {
    background-color: transparent !important;
    color: white !important;
}

.container select {
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: black;
    font-size: 20px;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .custom-card {
        width: 100%;
    }
}